<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_ypu_study_plans_root"
              name="Study Plans"
              sequence="11"/>

    <menuitem id="menu_ypu_study_plans"
              name="Study Plans"
              parent="menu_ypu_study_plans_root"
              action="action_ypu_study_plan"
              sequence="10"/>

</odoo>
